@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap");

/* General container styling */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  font-family: "Parkinsans", sans-serif;
}

/* Title styling */
.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Paragraph styling */
.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

/* Image styling for centering */
.center-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}
