@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');

/* General container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    font-family: "Parkinsans", sans-serif;
  }